{{#if isDirectMessageNotification}}
  <div class="col-xs-3">
    <img class="img-thumbnail pull-left" src="http://placehold.it/1000x1000">
  </div>
  <div class="col-xs-7">
    <div>{{notification.sender}}</div>
    <div>{{notification.body}}</div>
  </div>
  <div class="col-xs-2">
    <div class="date-container"> {{englishDate}}</div>
  </div>
{{else if isCommentNotification}}
  <div class="col-xs-3">
    <img class="img-thumbnail pull-left" src="http://placehold.it/1000x1000">
  </div>
  <div class="col-xs-7">
    <div class="">{{notification.body}} on</div>
    <div class="thread-title-container">{{notification.threadTitle}}</div>
    <div><span class="label label-pill label-default notification-count">#{{notification.stag}}</span></div>
  </div>
  <div class="col-xs-2">
    <div class="date-container"> {{englishDate}}</div>
  </div>
{{else}}
  <div class="col-xs-3">
    <img class="img-thumbnail pull-left" src="http://placehold.it/1000x1000">
  </div>
  <div class="col-xs-7">

  </div>
  <div class="col-xs-2">
    <div class="date-container"> {{englishDate}}</div>
  </div>
{{/if}}
