<div class="modal fade bd-example-modal-sm signup-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="panel-padding panel-body">
        <div class="container">
          <button {{action "registerWithFacebook"}} type="submit" class="btn btn-block btn-primary btn.fb">{{fa-icon "facebook"}} Sign up with Facebook
          </button>
          <div class="signup-or-separator">
            <span class="h6 signup-or-separtor--text">or</span>
            <hr>  
          </div>

          {{#if errorFlashMessage}}
          <div class="alert alert-danger" role="alert">
            {{errorFlashMessage}}
          </div>
          {{/if}}
          <form {{action "submitRegistration"}} on="submit">
            <div class="form-group input-group {{if firstNameError "has-error"}}">
              <span class="input-group-addon">{{fa-icon "user"}}</span>
              {{input class="form-control" value=firstName placeholder="First Name"}}
            </div>
            <div class="form-group input-group {{if emailError "has-error"}}">
              <span class="input-group-addon">{{fa-icon "user"}}</span>
              {{input class="form-control" value=lastName placeholder="Last Name"}}
            </div>
            <div class="form-group input-group {{if emailError "has-error"}}">
              <span class="input-group-addon">{{fa-icon "envelope"}}</span>
              {{input class="form-control" value=email placeholder="Email"}}
            </div>
            <div class="form-group input-group {{if passwordError "has-error"}}">
              <span class="input-group-addon"><span>{{fa-icon "unlock-alt"}}</span></span>
              {{input class="form-control" value=password type="password" placeholder="Password"}}
            </div>
            <div class="form-group input-group {{if passwordError "has-error"}}">
              <span class="input-group-addon"><span>{{fa-icon "unlock-alt"}}</span></span>
              {{input class="form-control" value=confirmPassword type="password" placeholder="Confirm Password"}}
            </div>
            <div class="form-group">
              <button {{action "submitRegistration"}} type="submit" class="btn btn-danger btn-block">Sign up</button>
            </div>
          </form>
          <hr>
          <div class="modal-font">
            <span class="pull-left">Already a Stogora member</span>
            <span class="register-link"><a{{action "switchToLogin"}}>log in</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

