<div class="message-img {{if isViewingUser 'right' 'left'}}">
	<img class="" src="http://placehold.it/35x35">
</div>
<div class="message-bubble {{if isViewingUser 'right' 'left'}}">
	{{message.message}}
</div>
<div class="date-container {{if isViewingUser 'right' 'left'}}">
	{{englishDate}}
</div>